<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transaction Successful</title>
    <link rel="stylesheet" href="/styles/stylesheet.css">
    <script defer src="/javascripts/accepted.js"></script>
    <script>
        const uniqueTransactionReference = `<%= id %>`
    </script>
</head>
<body class='centredText'>

    <br>

    Transaction successful!

    <h3>The parent site has received details from Prettypay and is displaying them here:</h3>
    <% if (currency && amount) { %>
        <p><%= currency %>&nbsp;<%= amount %> debited to your account.</p>
    <% } %>

    <p>Unique transaction reference: <%= id %></p>

    <br>

    <p>If you wish, you can type in the URL __dirname + /prettypay/report, and Prettypay will report the various transactions currently in its records.</p>

    <br>

    <div id='buyBtnDiv'>
        <button id='btnToHome'><a href='/'>Return to home page.</a></button>
    </div>

</body>
</html>