<!-- For deployment, change regex pattern on form where indicated! -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/stylesheet.css">
    <script defer src="javascripts/script.js"></script>
    <title>Home page</title>
</head>
<body>
    
    <%- include('../prettypay/views/view.ejs')%>

    <h2>Home page</h2>
    <input type="button" value="Click me to log in the console!" onclick="console.log('Clicked!')"><br>
    <h3>Welcome to This page!</h3>
    <p>
        This is a simple website designed to provide a scaffold in which to showcase the Prettypay package.
    </p>
    <div class="item-quantity basket-column">
        <input id="item-quantity-input" type="number" value="1">
    </div>
    <br>
    <div>
        £ <span id='price-to-pay'>1</span>
    </div>
    <br>

    <button id='buyBtn'>Buy</button>

</body>
</html>
