<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/stylesheet.css">
    <script defer src="javascripts/script.js"></script>
    <title>Home page</title>
</head>
<body>

    <h1 class='centredText'>Welcome to the generic website!</h1>

    <h3 class='centredText'>(Prettypay demonstration)</h3>

    <div id='mainText'>
        <p>
            This basic website exists to demonstrate Prettypay, a payment processor simulation for developers.
            In line with this purpose, the parent directory webiste is<span class='emphatic'> intentionally simplistic and underdeveloped. </span>
        </p>
        <p>
            Prettypay is a payment processor simulation for developers. It is added as a separate directory within the overall directory.
        </p>
        <p>
            To see Prettypay in action, select an amount and try to buy!
            For your convenience, the current options specified in the parent directory bring up a pre-filled version.
            As a demonstration, the parent directory code asks Prettypay to reject payments of even numbers.
        </p>
        <p>
            For more information about prettypay and how to use it, read README.md in the Prettypay directory itself,
            which can be found at <a href='https://github.com/three-cubed/prettypay'>github.com/three-cubed/prettypay</a> or <a href='https://www.npmjs.com/package/prettypay'>npmjs.com/package/prettypay</a>.
            You are free to use Prettypay non-commercially. For further information, please see LICENCE.md in the Prettypay directory.
        </p>

        <div id='inputDiv' class='centredText'>
            Select your quantity @ £1 per item.
            <input id="item-quantity-input" type="number" value="1">
        </div>

    </div>

    <br>

    <div class='centredText'>
        <span id='price-to-pay-span' class='emphatic'>
            Total price: £ <span id='price-to-pay'>1</span>
        </span>
    </div>
    <br>

    <div id='buyBtnDiv'>
        <button id='buyBtn'>Buy</button>
    </div>

    <%- include('../node_modules/prettypay/views/view.ejs', { root: '../' }) %>

</body>
</html>
