<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=initial-scale=1.0">
    <title>Transaction Declined</title>
</head>
<body>
    <h1>
        Transaction declined.
    </h1>
    <br>
    <button><a href='/'>Return to home page.</a></button>
</body>
</html>