* {
    color: blue;
}

a, a:visited {
    text-decoration: none !important;
}

#buyBtnDiv {
    display: flex;
    justify-content: center;
}

.centred {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.edgedBox {
    border: solid 2px lightskyblue;
    border-radius: 4%;
    width: 600px;
    max-width: 95%;
    align-self: center;
}

.emphatic {
    background-color: yellow;
}

#item-quantity-input {
    height: 30px;
    font-size: 25px;
    max-width: 80px;
}

#mainText{
     font-size: 20px;
}

#buyBtn, #price-to-pay, #price-to-pay-span {
    font-size: 30px;
}

#btnToHome, #buyBtn, #inputDiv, #price-to-pay, #price-to-pay-span {
    margin: 22px;
}
